<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="node_modules/angular-cookies/angular-cookies.js"></script>
        <script src="js/ng-table.min.js"></script>
        
        <script src="node_modules/ng-confirm/dist/ng-confirm.min.js"></script>
        <script src="node_modules/angular-md5/angular-md5.js"></script>

        <script src="angular/myapp.js"></script>
        <script src="angular/tracktimecontroller.js"></script>
        <script src="angular/howtocontroller.js"></script>
        <link rel="stylesheet" href="css/ng-table.min.css">

        <!--<script src="https://apis.google.com/js/client:platform.js" type="text/javascript"></script>-->


        <script src="app-services/authentication.service.js"></script>
        <script src="app-services/flash.service.js"></script>
        <script src="app-services/user.service.js"></script>
        <script src="login/login.controller.js"></script>
        <script src="login/signup.controller.js"></script>
        <script src="angular/session.controller.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-76836265-1', 'auto');
            ga('send', 'pageview');

        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Timey</title>

        <!-- Bootstrap Core CSS -->/
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/grayscale.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="myApp" ng-controller="HowToController">

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!--<a class="navbar-brand page-scroll" href="#page-top">
<i class="fa fa-play-circle"></i>  <span class="light">Home</span> 
</a>-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <div ng-if="myUser == ''">
                        <ul class="nav navbar-nav">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>

                            <li>
                                <a class="page-scroll" href="index.html">Log In</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="index.html#sign-up">Sign Up</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="index.html#download">Download</a>
                            </li>
                            <li>
                                <a class="page-scroll" href='#page-top'>How To</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="index.html#about">About</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="index.html#contact">Contact</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                                <ul id="login-dp" class="dropdown-menu">
                                    <li>
                                        <div ng-include="'templates/login_dropdown.html'"></div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div ng-if="myUser != ''">
                        <ul class="nav navbar-nav">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            <li>
                                <a class="page-scroll"  ng-cloak>{{ myUser }}</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="tracktime.html">Track Time</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="reporting.html">View Reports</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#page-top">How To</a>
                            </li>
                            <li>
                                <a class="page-scroll" ng-click="logOff()">Log Off</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Intro Header / Log In-->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <br/><br/><br/><br/><br/><br/>
                        <div>
                            <h2> How To Use Timey </h2>
                        </div>

                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#whoisitfor">Who is it for?</a></li>
                            <li><a data-toggle="pill" href="#howdoiuse">How do I use?</a></li>
                            <li><a data-toggle="pill" href="#howtocreate">Create Task</a></li>
                            <li><a data-toggle="pill" href="#starttimingtask">Start Timing</a></li>
                            <li><a data-toggle="pill" href="#stoptimingtask">Stop Timing</a></li>
                            <li><a data-toggle="pill" href="#deletetimeytask">Delete Task</a></li>
                        </ul>

                        <div class="tab-content" ng-cloak>
                            <br/><br/>
                            <div id="whoisitfor" class="tab-pane fade in active">
                                <h4>Who is Timey for?</h4>
                                <div id="list2">
                                    <ol>
                                        <li>Entrepreneur</li>
                                        <li>Freelancer</li>
                                        <li>Consultant</li>
                                        <li>Intrapreneur</li>
                                        <li>YOU! Anyone who wants to be more efficient and productive with their time.</li>
                                    </ol>
                                </div>
                            </div>
                            <div id="howdoiuse" class="tab-pane fade">
                                <div class="col-md-10 col-md-offset-1">
                                    <h4>How do I use timey?</h4>
                                    <p>There are several ways you can use Timey. The Timey Team has laid out a few use cases of how some of our customers and the team use the tool. Timey is a tool made by us for you. We encourage you to make Timey your own and use it in a way that makes sense for you. If you think that there are some features missing or if you want to share how you are using timey let us know on twitter @timey.it or by emailing us at feedback@timey.it</p>
                                    <br/>
                                </div>
                            </div>
                            <div id="howtocreate" class="tab-pane fade">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h4>How to Create a Task</h4>
                                        <p class="phowto">To create a new Timey task:</p>
                                        <div id="list2">
                                            <ol>
                                                <li>Go to the Track Time page</li>
                                                <li>Type in the Name of Task and click the “Create” button.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="starttimingtask" class="tab-pane fade">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h4>How to Start Timing a Task</h4>
                                        <p class="phowto">To start timing a task:</p>
                                        <div id="list2">
                                            <ol>
                                                <li>Go to the Track Time page</li>
                                                <li>Locate the Task you would like to start timing and select it. (If it is not on the list you can create a new task).</li>
                                                <li>Task name and timer is started at the top of the Track Time page.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="stoptimingtask" class="tab-pane fade">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="col-md-10 col-md-offset-1">

                                        <h4>How to Stop Timing a Task</h4>
                                        <p class="phowto">To stop timing a task that you have started timing:</p>
                                        <div id="list2">
                                            <ol>
                                                <li>Go to the Track Time page</li>
                                                <li>The current task being tracked is displayed at the top of the Track Time page.</li>
                                                <li>Click on “Stop”.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="deletetimeytask" class="tab-pane fade">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h4>Deleting a Task</h4>
                                        <p class="phowto">To delete a Timey Task:</p>
                                        <div id="list2">
                                            <ol>
                                                <li>Go to the Track Time page</li>
                                                <li>Locate the Task that you would like to delete.</li>
                                                <li>Next to the task you will see an X</li>
                                                <li>Click the X to delete the task.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Contact Section -->
        <div ng-include="'templates/contact.html'"></div>

        <!-- Map Section -->
        <!--<div id="map"></div>-->

        <!-- Footer -->
        <div ng-include="'templates/footer.html'"></div>

        <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
        <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

        <!-- Custom Theme JavaScript -->
        <script src="js/grayscale.js"></script>
    </body>

</html>
