<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Have a Question?</h2>
            <p>Feel free to email us to provide some feedback on our tool, give us suggestions for new features, or to just say hello!</p>
            <!--<p><a href="">contact@timey.it</a>-->
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="mailto:contact@timey.it" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                    <a href="https://twitter.com/timeyit" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    <a href="https://github.com/Timeyit" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>